.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    
}

.title{
    color: pink;
    font-size:xx-large;
    font-style: oblique;
}

.team-photo{
    width: 700px;
    height: 150px;
}

.h2lore {
    color: darksalmon;
    font-family: Libre+Baskerville;
}
.plore {
    color:forestgreen;
    font-style: italic;
}
h3{
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 18px;
    font-style:oblique;
}

.prueba {
    font-size: small;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fotopuchero {
    width: 150px;
    height: auto;
}